html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;padding:0}
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hgroup,p,blockquote,figure,form,fieldset,input,legend,pre,abbr,button{margin:0;padding:0}
pre,code,address,caption,th,figcaption{font-size:1em;font-weight:normal;font-style:normal}
fieldset,iframe,abbr,img{border:0}
caption,th{text-align:left}
table{border-collapse:collapse;border-spacing:0}
article,aside,footer,header,nav,main,section,summary,details,hgroup,figure,figcaption{display:block}
audio,canvas,video,progress{display:inline-block;vertical-align:baseline}
a:link,a:visited{text-decoration:none; color: black;}
a:active{text-decoration:none}
b,strong{font-weight:600}
em,i,cite,dfn{font-style:italic}
:focus{outline:3px solid #c1e0fe;outline:3px solid rgba(131,192,253,0.5);outline-offset:1px}
:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
:focus[data-focus-method="touch"]:not(input):not(textarea):not(select){outline:none}
::-moz-focus-inner{border:0;padding:0}
@media print{
    body,#main{color:#000}
    a,a:link,a:visited{color:#000;text-decoration:none}
    #global-nav,#global-footer,.noprint{display:none}
}

body{font-style:normal;font-size:12px;
    font-weight:400;line-height:18px;letter-spacing:0;
}
body,input,textarea,select,button
    {
        text-align:left;font-synthesis:none;-moz-font-feature-settings:'kern';
        -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;direction:ltr;
    }



body{background-size: cover;
    background-image: url(../img/84316.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -130px;
    
}

*{margin:0;padding:0}
.blind
    {
        display:none;
        visibility:hidden
    }



.btn{text-align: center;width: 10%; height: 30px;
    border-radius: 50px; 
    border: none;
    transition: transform 1s;
    margin-left: auto; margin-right: auto; display: block;
    margin-top: 12%; font-family: 'MedievalSharp', cursive;
    background: linear-gradient(to left, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background 0.5s ease;
    color: white}

.btn:hover{
    transform: scale(1.1);
    background-position: right bottom;
    color: black
}

img{
    margin-left:40%; margin-right: 40%;
    margin-top: 14%;
    display: block;
    width : 20%;
}


.clear{
    clear: both;
}



a:hover{ color: white}
#cursor-dot,#cursor-bg{overflow:hidden;position:fixed;top:50%;left:50%;box-sizing:border-box;
    transform:translateX(-50%) translateY(-50%);pointer-events:none}
    
#cursor-dot{z-index:600;width:4px;height:4px;border-radius:50%;background-color:#f00}
#cursor-bg{z-index:400;width:30px;height:30px;border:1px solid #fff;border-radius:50%;
    transition:width 200ms ease-in-out,height 200ms ease-in-out,background-color 200ms ease-in-out,border-color 200ms ease-in-out}
#cursor-bg.active{width:60px;height:60px;background-color:rgba(255,255,255,0.5);border-color:#fff;}

#loader-container {
    height: 70%;
    width: 70%;
    
  }
  #loader-container #loader-circle {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 45px;
    width: 45px;
    background-image: url("https://dl.dropboxusercontent.com/u/90908441/CodePen/logo_2.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    margin: -20px 0 0 -20px;
    -webkit-animation: circle 2s linear infinite;
            animation: circle 2s linear infinite;
  }
  #loader-container #loader {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #loader-container #circles {
    height: 100px;
    width: 100px;
    border-bottom: 3px solid #535353;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
  }
  #loader-container #circles:before {
    border-top: 3px solid #ffffff;
    height: 90px;
    width: 90px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
    content: "";
    -webkit-animation: spin 4s linear infinite;
            animation: spin 4s linear infinite;
  }
  #loader-container #circles:after {
    border-left: 3px solid #353535;
    height: 80px;
    width: 80px;
    margin: 15px 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    display: inline-block;
    content: "";
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes circle {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    40% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes circle {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    40% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
